
.li-div{
    margin-top: -40px;
    height: 680px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow-y: scroll;
  }
  .li-div::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
  .card-item{
  width: 150px;
  margin-left: 50px;
  margin-bottom: 80px;
  margin-top: 10px;
  background: #FFFFFF;
  box-shadow: 0px 30px 60px rgba(57, 57, 57, 0.1);
  border-radius: 30px;
  }
  
  .card-item img{
    height: 100px;
    width: 100px;
    margin-top: -10px;
    border-radius: 50%;
  }
  